<html>
<head>
<link rel=stylesheet type=text/css href="{{url_for('static', filename='styles.css')}}"
</head>
<body>


<div class="container">
<h1 class="pagetitle"> Update {{ category.name}} {{item.name}} </h1>
</div>
<div class="container">
<form action="{{ url_for('editItem', category_name=category.name, item_id=item.id)}}" method = 'POST'>
<div class="inputbox">
	<label style="font-weight: bold;"for="name">Item Name</label>
	<input type='text' size='30' name='name' placeholder='{{item.name}}'>
	</div></br>
<div class="inputbox">
	<label style="font-weight: bold;"for="price">Price</label>
	<input type='number' size='30' name='price' placeholder='{{item.price}}'> <p class="tip">Enter value in cents, no decimals (e.g. for a $20.05 item, enter 2005)</p>
	</div></br>
<div class="inputbox">
	<label style="font-weight: bold;"for="description">Description</label>
	<input type='text' size='60' name='description' placeholder='{{item.description}}'>
	</div></br>

<input style="display: block; clear:both; margin: 0 auto; float: none;" class="optionBtn"type='submit' value='Edit'>
</form>
</div>
<div class="container centerthis">
	<a class="optionBtn"href="{{url_for('item', category_name=category.name, item_id=item.id, item_name=item.name)}}">cancel</a>
</div>
</body>
</html>