<html>
<head>
<link rel=stylesheet type=text/css href="{{url_for('static', filename='styles.css')}}"
</head>
<body>
	<div class="container navbar"><a class="link" href="{{url_for('index')}}">Home</a></div>
	<div class="container"><h1 class="pagetitle">{{category.name}}</h1> </div>
	
{% with messages = get_flashed_messages() %}
	{% if messages %}
	
	<ul>
	{% for message in messages%}
		<li class="container"><strong>{{message}}</strong></li>
		{% endfor %}
	</ul>
	{% endif %}
{% endwith %}
	
	
	<div class="container">
	<table class="itemlist">
		<th>Item</th>
		<th>Price</th>
	{% for i in items %}
		
		<tr>
			<td>
				<a class="itemname link"  href="{{url_for('item', category_name = category.name, item_id=i.id, item_name=i.name)}}">{{i.name}}</a>
			</td>
			<td>
				<span class="link price">${% if i.price %} {{i.price/100}} {% endif %} </span>
			</td>
		</tr>
	
	{% endfor %}
	</table>
	</div>
	
</body>
</html>
